<section id="anons" class="text-center">
    <div class="container">
        <div class="section-title">
            <h2>Наші анонси</h2>
        </div>
        <div class="row">
            {% for anons in anonses %}
            <div class="col-xxs-12 col-xs-6  col-sm-4">
                <div class="menu-section">
                    {#<div class="features-item">#}
                    <h3 class="menu-section-title"><a href="/anons/{{ anons.id }}/#anons_det">{{ anons.title }}</a></h3>
                    <div class="menu-section">
                        <img src={{ anons.photo_sm.url }} class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

