<section id="restaurant-menu">
  <div class="container">
    <div class="section-title text-center">
      <h2>{{ menu_title }}</h2>
    </div>
    <div class="row">
    {% for item in categories %}
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">{{ item.title }}</h2>
          {% for dish in dishes %}
          {% if item == dish.category %}
          <div class="menu-item">
            <a href="/dish" name = {{ dish.id }}>
            <div class="menu-item-name">{{ dish.title }}</div>
            <div class="menu-item-price">{{ dish.price }}</div>
            <div class="menu-item-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam. </div>
            </a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
