{% extends 'base.html' %}

{% block content %}
    {% include 'menu_features.html' %}
    {% include 'about_guesto.html' %}
    {% include 'menu.html' %}
    {% include 'gallery.html' %}
    {% include 'team.html' %}
    {% include 'contact_info.html' %}

{% endblock %}
{% comment %}
<!-- Features Section -->
{% block menu_features %}

{% endblock %}
<!-- About Section -->
{% block about_guesto %}

{% endblock %}
<!-- Restaurant Menu Section -->
{% block menu %}

{% endblock %}
<!-- Gallery Section -->
{% block gallery %}

{% endblock %}
<!-- Team Section -->
{% block team %}

{% endblock %}
<!-- Contact Section -->
{% block contact_info %}
    {% include 'contact_info.html' %}
{% endblock %}
{% endcomment %}
